<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
Exercise 2: Create markdown cell with title of the notebook (1 pt)

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Numpy
1. Matplotlib
1. Seaborn
1. Scikit-learn
1. Keras

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools|
| --- |
|Anaconda|
|Spyder|
|R Studio|

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Below are a few examples of evaluating arithmetic expressions in Python

x = 1 

x + 1 = y

print(y)

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

This a simple arithmetic expression to mutiply then add integers

In [27]:
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by diving by 60

In [28]:
200/60

3.3333333333333335

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Objectives:
- Create Markdown Cells
- Add comments to code cells
- Format Content of Markdown Cells with Heading styles

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author

Benson

In [ ]:
Exercise 12 - Share your notebook through GitHub (3 pts)

In [ ]:
Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)